*.exe
.DS_Store
cc_models/*
imgsrc/*
results/*
utils/__pycache__/*
models/__pycache__/*
__pycache__
__pycache__/*
run/*
logs/
.env
setup.json
.cspell/*
test.ipynb
**/anchoring-0
**/storage-0
files/temp/*
*response.bin
*capabilityResponse.bin
*request.bin
.ipynb_checkpoints/*
.ipynb_checkpoints
__pycache__/
capabilityResponse.bin
*asd.ipynb
whiteboard.ipynb
whiteboard.py
**/whiteboard*
.trunk